<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<update id="update" parameterType="reviewDto">
		UPDATE board_review
		SET reviewTitle=#{reviewTitle}, content=#{content}, rating=#{rating}
		WHERE num=#{num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM board_review
		WHERE num=#{num}
	</delete>

	<update id="addViewCount" parameterType="int">
		UPDATE board_review
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	<select id="getCount" parameterType="reviewDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_review
		<choose>
			<when test="reviewTitle != null and content != null">
				WHERE reviewTitle LIKE '%'||#{reviewTitle}||'%' 
				OR content LIKE '%'||#{content}||'%'
			</when>
			<when test="reviewTitle != null">
				WHERE reviewTitle LIKE '%'||#{reviewTitle}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
			<when test="isbn != null">
				WHERE isbn LIKE '%'||#{isbn}||'%'
			</when>
		</choose>		
	</select>

	<select id="getList" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, isbn, imagePath, writer,reviewTitle,content,viewCount,regdate,spoCheck,rating
				FROM board_review
				<choose>
					<when test="reviewTitle != null and content != null">
						WHERE reviewTitle LIKE '%'||#{reviewTitle}||'%' 
						OR content LIKE '%'||#{content}||'%'
					</when>
					<when test="reviewTitle != null">
						WHERE reviewTitle LIKE '%'||#{reviewTitle}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%'||#{writer}||'%'
					</when>
					<when test="isbn != null">
						WHERE isbn LIKE '%'||#{isbn}||'%'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<insert id="insert" parameterType="reviewDto">
		INSERT INTO board_review
		(num, writer, isbn, imagePath, reviewTitle, content, viewCount, regdate, spoCheck, rating)
		VALUES(board_review_seq.NEXTVAL, #{writer}, #{isbn}, #{imagePath},
			#{reviewTitle}, #{content}, 0, SYSDATE, #{spoCheck}, #{rating})
	</insert>
	<select id="getData" parameterType="int" resultType="reviewDto">
		SELECT num, isbn, imagePath, writer,reviewTitle,content,viewCount,regdate,spoCheck,rating
		FROM board_review
		WHERE num=#{num}
	</select>
	<select id="myReview" parameterType="reviewDto" resultType="reviewDto"><!--by욱현. 내가 쓴 리뷰 셀렉트_2021309 -->
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, isbn, imagePath, writer,reviewTitle,content,viewCount,regdate
				FROM board_review
				WHERE writer=#{writer}
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>
</mapper>