<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users"><!--by.욱현 _2021222 -->
	<select id="isValid" parameterType="usersDto" resultType="String">
		select id
		from USERS
		where id=#{id} AND pwd=#{pwd}
	</select>
    <select id="isExist" parameterType="String" resultType="usersDto">
    	select id
    	from USERS
    	where id=#{id}
    </select>
    <insert id="insert" parameterType="usersDto">
    	INSERT INTO USERS ( 
    		id
    		, pwd
    		, regdate
    		, email
    		, care 
    	) 
    	VALUES ( 
			#{id}
			, #{pwd}
			, now()
			, #{email}
			, #{care} 
		)
    </insert>
    <update id="updateProfile" parameterType="usersDto">
		UPDATE USERS
		SET profileImg=#{profile}
		WHERE id=#{id}
	</update>
	<update id="updatePwd" parameterType="usersDto">
		UPDATE USERS
		SET pwd=#{newPwd}
		WHERE id=#{id} AND pwd=#{pwd}
	</update>
	<update id="update" parameterType="usersDto">
		UPDATE USERS
		SET email=#{email}, care=#{care}
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM USERS
		WHERE id=#{id}
	</delete>
	<select id="getData" parameterType="String" resultType="usersDto">
		SELECT id, pwd, email,care, recentSearch, profileImg,
			DATE_FORMAT(regdate, '%Y.%m.%d') AS regdate
		FROM USERS
		WHERE id=#{id}
	</select>
	<select id="getPwd" parameterType="String" resultType="String">
		SELECT pwd
		FROM USERS
		WHERE id=#{id}
	</select>
	<update id="searchInput" parameterType="usersDto"><!-- by욱현.최근검색어 칼럼 수정_2021308 -->
		UPDATE USERS
		SET recentsearch=#{recentSearch}
		WHERE id=#{id}
	</update>
	<update id="deleteProfile" parameterType="java.lang.String"><!-- by욱현.프로필이미지 삭제_2021323 -->
		UPDATE USERS
		SET profileImg=null
		WHERE id=#{id}
	</update>
</mapper>