html, body {
       margin:0;
       padding: 0;
   }
   
    body {
       padding: 0;
    }   
    a{
       color: #333;
       text-decoration: none;
    }
@font-face {
   font-family: '777Balsamtint';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
.container {
       width: 1220px !important;
       padding: 0;
       margin: 0 auto;
       font-family: '777Balsamtint';
    }
   
   .btn {
  font-family: '777Balsamtint';
  margin: 0 3px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a {
   text-decoration: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
body{ 
   -ms-overflow-style: none; 
} 

.box{ 
   -ms-overflow-style: none; 
} 
.box::-webkit-scrollbar{ 
   display:none; 
}
   /*
      Table CSS
   */
   .tb-head {
      padding: 15px 0 16px 10px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #a8a8a8;
      display: table;
      width: 100%;
   }
   .head-title {
      display:table-cell;
      font-size: 36px;
       font-weight: 500;
   }
   .head-star {
      display:table-cell;
      float: right;
       padding-right: 35px;
      font-size: 19px;
      color: #333;
   }
   .head-star > p {
      display: inline;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      padding-left: 9px;
   }
   	.star-fill {
		color: #fff58c;
		width: 100%;
		padding: 0;
		position: absolute;
		z-index: 1;
		display: flex;
		top: 0;
		left: 5px;
		font-family: emoji;
		-webkit-text-fill-color: #ffc80b;
	}
	.star-fill2 {
		color: #fff58c;
		width: 100%;
		padding: 0;
		position: absolute;
		z-index: 1;
		display: flex;
		top: 0;
		left: 5px;
		font-family: emoji;
		-webkit-text-fill-color: #ffc80b;
	}
 	
	.star-base {
		display:inline-block;
		z-index: 0;
		padding: 0;
		-webkit-text-fill-color: #d3cfcf; /* 덜 채워진 색상 */
	}
   .star-value {
      font-family: emoji;
      display: inline;
      vertical-align: baseline;
      color: #ffc80b;
   }
   
   .head-star > .star-value::before {
       content: "|";
       padding-left: 7px;
       padding-right: 7px;
       vertical-align: bottom;
       opacity: 0.9;
       color: #333;
   }
   .total-count {
      font-weight: bold;
      font-size: 12px;
      vertical-align: baseline;
   }
   .book-info {
      margin: 0;
      padding: 0;
   }
   .info-list{
      margin: 0;
      padding: 0;
   }
   .info-list > li{
      display:inline-block;
   }
   .info-list > li::before{
       content: "|";
       color: 33333387;
       padding-left: 10px;
       padding-right: 10px;
       vertical-align: middle;
       opacity: 0.4;
       font-size: 27px
   }
   .info-list > li:first-child::before {
      content: "";
       vertical-align: middle;
      padding: 0;
   }
   th {
      text-align: left;
      width: 55px;
      font-size: 20px;
   }
   .bookIntro {
      position: relative;
       width: 100%;
   }
   .Intro-L {
      position: absolute;
       font-family: '777Balsamtint';
       padding: 30px 100px 0 20px;
       width: 130px;
       color: #222;
       font-size: 29px;
   }
   .Intro-R {
      float: left;
      margin: 0 0 0 250px;
      font-size: 28px;
      line-height: 39px;
      /**/
   }
   .shipping{
      position: relative;
       width: 100%;
       display: inline-block;
   }
   .ship-L{
      position: absolute;    
      padding: 15px 100px 0 20px;
       width: 130px;
       color: #333;
       font-size: 28px;
       letter-spacing: 2.2px;
       font-family: '777Balsamtint';

   }
   .ship-R{
      margin: 0 0 0 250px;
      line-height: 29px;
      float: none;
   }
   .ship-R > ul {
      display: inline-block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       padding-inline-start: 0px;
   }
   .ship-guide > li {
      float: none;
   }
   .ship-guide > li p{
      line-height: 1.4;
      margin: 0;
      padding: 0 0 0 8px;
       background: url(//bimage.interpark.com/renewPark/reBookpark/last_inc_new/ico_dotGray3.gif) no-repeat left center;
       color: #333;
       font-size: 19px;
       letter-spacing: 1.012px;
   }
   
   .finishLine {
      margin: 35px 0 ;
       padding: 0;
       border-top: 1px solid #d5d5d5;
   }
   .reviewWrap {
      position: relative;
       width: 100%;
       display: inline-block;
   }
   .review-L {
      position: absolute;    
      padding: 5px 100px 0 20px;
       width: 130px;
       color: #333;
       font-size: 28px;
       letter-spacing: 2.2px;
       font-family: '777Balsamtint';
   }
   .review-R {
      float: left;
      margin: 20px 0 0 250px;
      line-height: 29px;
   }
   .review-top{
      display:table-cell;
      float: left;
      padding-top:7px;
       padding-right: 35px;
      font-size: 19px;
      color: #333333;
   }
   .total-star{
		padding-left: 5px;
		font-family: emoji;
		display: inline;
		position: relative;
		-webkit-text-fill-color: #e5e5e5; /* 덜 채워진 색상 */
   }
   .review-box{
      position: relative;
       /* padding: 33px 0 0; */
       border-top: 1px solid #777;
   }
   .review-box > ul {
      display: inline-block;
       margin-block-start: 0;
       margin-block-end: 0;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       padding-inline-start: 0px;
   }
   .reviewList {
       border-top: 1px solid #ccc;
   }
   .reviewList > li {
      background: #fafafa;
      position: relative;
       padding: 16px 20px 13px 20px;
       border-bottom: 1px solid #ddd;
   } 
   .title-box {
      display: table;
   }
   .star-box {
      display: table-cell;
       width: 80px;
       vertical-align: middle;
      font-size: 15px;
   }
   .reviewTitle-box {
      max-width: 600px;
       padding: 0 5px 0 10px;
       font-size: 17px;
       font-weight: bold;
       color: #333;
       line-height: 1.2;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       text-decoration: none;
   }
   #spoTag{
   }
   .spoCheck-box{
      color: #fff;
       border: 1px solid #5db794;
       padding: 1px 5px;
       border-radius: 5px;
       background: #5db794;
       
   }
   .content-box{
       width:934px;
   }
   .content-box > div {
    	float: right;
    	width: 846px;
    	margin-top: 7px;
   }
   .non-review{
   }
   .non-spo{
   	  	
   }
   .spoAlert {
   	  	
		-webkit-filter: blur(2px);
		backdrop-filter: blur(20px) saturate(120%) contrast(200%);
		background: #fafafa;
   }
   .idDate-box {
      position: absolute;
       right: 20px;
       top: 20px;
       font-size: 14px;
       color: #777;
   }
   .review-writer{
   		margin-right:5px;
   }
   #more {
      cursor: pointer;
      float: right;
   }
   #content{
      font-size: 18px;
   }
   .moreTxt-off{
      overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 1;
       -webkit-box-orient: vertical;
   }
   .moreTxt-on{
   
   }
   .non-review{
   		padding: 10px;
   		text-align: center;
   		font-size: 19px;
    	letter-spacing: 6px;
   }
   .replyCount {
   		font-size: 16px;
   }
   .replyCount > a {
      float: right;
   }
   .review-sort:before{
       content: "|";
       color: #333;
       padding-left: 7px;
       padding-right: 5px;
       vertical-align: bottom;
       opacity: 0.4;
       font-size: 22px;   
   }
   .review-sort:first-child::before {
      content: "";
       vertical-align: middle;
      padding: 0;
   }
   .sortWrap {
      padding: 8px 18px 5px 0;
      float: right;
   }
   .review-paging {
      clear: both;
       margin-top: -10px;
       margin-bottom: 100px;
       /**/
       width: 100%;
       height: 35px;
       text-align: center;
       border-top: 1px solid #e5e5e5;
       border-bottom: 1px solid #cccccc;
       position: relative;
       background-color: #f9f9f9;
       font-family: "dotum";
   }
   #paging > ul {
      margin:0;
      padding: 0;
      display: inline-block;
   }
   .pagination {
      display: flex;
       padding-left: 0;
       list-style: none;
   }
   
   .page-link{
      display: block;
       padding: 7px 13px;
       margin-left: -1px;
       line-height: 1.25;
       color: #5db794;
       background-color: #fff;
       border: 1px solid #dee2e6;
       font-family: '777Balsamtint';
       font-weight: bold;
       text-decoration: none;
   }
   .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
   }
   .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #5db794;
      border-color: #5db794;
   }
   #isbn{
      display:none;
   }
   .table th, .table td{
      width:auto;
      vertical-align:middle;
   }
   #image{
      object-fit;
      text-align:center;
   }
   #search{
      display:none;
   }
   .alert{
      display:none;
   }
   #writeR{
      display:none;
   }
   .h1{
      display:none;
    }
   
   .description{
       font-family: '777Balsamtint';
       padding-top: 25px;
       padding-right: 28px;
       color: #333;
       font-size: 23px;
       line-height: 1.7;
       letter-spacing: 0.025em;
       text-align: left;
   }
   .tb {
      width: 1046px;
      float: left;
      border-collapse: collapse;
   }
   .hori {
      padding-bottom: 30px;
      height: 402px;
      border-bottom: 1px solid #d5d5d5;
   }
   .quantity {
     position: relative;
   }
   .trButton {
     vertical-align: bottom;
     height: 40px;
   }
   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button
   {
     -webkit-appearance: none;
     margin: 0;
   }
   
   input[type=number]
   {
     -moz-appearance: textfield;
   }
   
   .quantity input {
     width: 45px;
     height: 42px;
     line-height: 1.65;
     float: left;
     display: block;
     padding: 0;
     margin: 0;
     padding-left: 20px;
     border: 1px solid #eee;
   }
   
   .quantity input:focus {
     outline: 0;
   }
   
   .quantity-nav {
     float: left;
     position: relative;
     height: 42px;
   }
   
   .quantity-button {
     position: relative;
     cursor: pointer;
     border-left: 1px solid #eee;
     width: 30px;
     text-align: center;
     color: #333;
     font-size: 13px;
     font-family: "Trebuchet MS", Helvetica, sans-serif !important;
     line-height: 1.7;
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
   }
   
   .quantity-button.quantity-up {
     position: absolute;
     height: 50%;
     top: 0;
     border-bottom: 1px solid #eee;
   }
   
   .quantity-button.quantity-down {
     position: absolute;
     bottom: -1px;
     height: 50%;
   }
   .tdImg {
      width: 240px; 
      height: 300px; 
      padding: 20px 32px 0 20px; 
   }
   .tdImg > a > img {
      width:100%; 
      height:100%; 
      border-radius:3px; 
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px; 
   }
   .tdTitle {
      font-size:30px; 
      font-weight:500;
      
   }
   .tdInfo {
      border-bottom: 1px solid #e5e5e5;
      font-size:18px;
   }
   .tdPrice {
      font-size:23px;
   }
   .tdDisc {
      font-size:23px;
   }
   .tdDisc > span {
      color: #ff0000b0;
   }
   .trCount {
   }
   .trCount > td {
      /* display: -webkit-inline-box; */
   }
   .trCount > td > p {
      font-size:22px; 
      margin: 5px 5px 5px 0;
   } 
   #countP {
      width:70px;
   }
   #insertBtn {
      width:180px; 
      border: 1px solid #5db794; 
      background-color: #5db794; 
      color:white;
   }
   #directBtn {
      width:180px; 
      border: 1px solid #5394CB; 
      background-color:#5394CB; 
      color:white; 
   }
   #reviewBtn {
      font-weight: bold; 
      width:130px; 
      color:#5db794; 
      border: 1px solid #5db794;
   }
   .divR {
      float: right; 
      height: 369px;
      margin-right: 30px;
   }
   /* SCROLL */
   #simList::-webkit-scrollbar { width: 8px; }
   /* 스크롤바의 width */
   #simList::-webkit-scrollbar-track { 
   }
   /* 스크롤바의 전체 배경색 */
   #simList::-webkit-scrollbar-thumb {
       border-radius: 10px;  
       background: linear-gradient(to bottom, #5394cb, #62b7ac); 
   }
   /* 스크롤바 색 */
   ::-webkit-scrollbar-button { display: none; }
   /* 위 아래 버튼 (버튼 없애기를 함) */
   .Rtop {
         font-size: 19px;
      border:1.5px solid #33333387; 
      background-color: #d3cfcf80; 
      text-align:center; 
      margin:0 auto;
      padding: 5px; 
   }
   #simList{
         font-family: '777Balsamtint';
      width: 140px;
      height: 282px;
      border: 1.5px solid #33333387;
      border-top: 0;
      border-bottom: 0;
      border-radius: 2px;
      background-color: #a5989824;
        overflow: hidden;
   }
   .simAjax {
      list-style: none; 
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
   }
   .simAjax > li {
      margin-bottom: 10px;
   }
   .simAjax > li > a {
      color:black;
   }
   .simAjax > li > a > img {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }
   .bookT {
      margin-top: 2px;
      margin-bottom: 2px;
      text-align: center;
      font-size: 17px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
         text-overflow: ellipsis;
   }
   
   .box::-webkit-scrollbar {
       display: none; /* Chrome, Safari, Opera*/
   }
   
   .Rbot {
      padding-top: 5px;
      height: 30px;
      border:1.5px solid #33333387; 
      background-color: #d3cfcf80; 
      text-align:center; 
      margin:0 auto; 
      font-weight:bold;
   }