html, body {
    	margin:0;
 		padding: 0;
	}
	
    body {
    	padding: 0;
    }	
    .layout {
    	width:1300px; 
    	margin:auto;
    }
	/* ----- body ----- */

	div>.dropright:hover>.dropdown-menu {
      display: block;
      border-color:#33333385;
   }
   
   .dropdown-toggle {
      display: none;
   }
   
   .Main-Category {
   	  font-family: '777Balsamtint';
   	  color: #333333;
      width: 150px;
      font-size: 22px;
      text-align: left;
      margin-left: 15px;
      line-height :33px;
      margin-right: -10px;
   }
   	.col,
   	.col-2,
   	.col-10,
   	.mb-5 {
    box-sizing: border-box;
   
   }
   .dropdown-menu {
   	font-family: '777Balsamtint';
    color: #333333bd;
    font-size: 20px;
   }
   .sideMenu {
   	border: 2px solid #33333385; 
   	height: 840px; 
   	top: 68px;
   }
	
	/* ----- sideIndex ----- */
@font-face {
   font-family: '777Balsamtint';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   
}
.ellipsis2 {
	color:#484848;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.ellipsis{
	  overflow: hidden;
	  text-overflow: ellipsis;
  	  display: -webkit-box;
      white-space : nowrap;
      -webkit-line-clamp: 1;
	  -webkit-box-orient: vertical;
  }
	/* .img-wrapper 에 마우스가 hover 되었을때 적용할 css */
  	.img-wrapper:hover{
      /* 원본 크기의 1.1 배로 확대 시키기*/
      transform: scale(1.02);
      transition: transform 0.3s ease-out;
  }
   
  .cardBook {
     border-radius:1px;
  	 height: 260px;
  	 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .card-body {
 	text-align: center;
	text-overflow: elipsis;
	over-flow: hidden;
  }
  .card-title {
  		font-weight: bold;
		font-size: 15px;
 }
 .cart-text {
 	text-align: center;
 }
.g-i {
	background-color: #5db794;
	color: #fff;
}	
	
.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 7px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
  padding-left: 165px;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 1.25rem;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.blank {
	width:160px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: #168a5ced;
  
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top:30px;
}
.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.list {
	margin-top:30px;
}
.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;  
  margin-top: 145px;
  margin-bottom: 100px;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #5db794;
  background-color: #fff;
  border: 1px solid #dee2e6;
  
  font-family: '777Balsamtint';
  font-weight: bold;
}
.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #5db794;
  border-color: #5db794;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.dropright .dropdown-menu {
  font-size: 20px;
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}